.nameStyle{
    font-size: 50px;
    text-align: center;
}
.textStyle{
    text-align: center;
    font-size: 30px;
}
.carouselCard{
    text-align: center;
    border-style:ridge;
    border-width: 5px;
    border-color:black;
    background-color: white;
    height: 220px;
    width: 600px;
}
.carouselCollection{
    min-height : 100px;
    max-height : 100px;
    width : 100%;
}

.cardCountStyle {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
  }