.background {
  background-image: url(/src/images/background.jpg);
  background-size: cover;
  min-width: auto;
  min-height: 1200px;
}

.collectionElement {
    border-style:ridge;
    border-width: 5px;
    background-color: white;
    margin-top: 5%;
    height:fit-content;
}

.cardElement {
    border-style:ridge;
    border-width: 5px;
    background-color: white;
    margin-top: 5%;
}